In [1]:
#Importing all necessary imports for Beautiful Soup and Selenium library
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException
import requests
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.common.by import By


import selenium 


import warnings
warnings.filterwarnings('ignore')

# Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

## #You need to find following details:
* Rank
* Name
* Artist
* Upload date
* Views

In [4]:
#IMPORTING chrome driver exe
driver = webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver.exe")
time.sleep(3)

#Opening the youtube page on automated webdriver
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time.sleep(2)

In [6]:
count = 0
#creating list for rank, uploader)name, video name, no of views, date of upload
rank = []
video_names = []
video_uploader_name = []
views = []
upload_dates = []


    #RANK ELEMENT
try:
    rank_obj = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')[:30]
    for i in rank_obj:
        rank.append(i.text)
except NoSuchElementException :
    rank.append('-')
    
    
   #VIDEO NAME ELEMENT
try:
    videoname_obj = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')[:30]
    for i in videoname_obj:
        video_names.append(i.text.split('[')[0][1:-1])
except NoSuchElementException :
    video_names.append('-')
    
    
    
    #UPLOADER_OF_VIDEO
try:
    uploader_obj = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')[:30]
    for i in uploader_obj:
        video_uploader_name.append(i.text)
except NoSuchElementException :
    video_uploader_name.append('-')
    
    

    #VIEWS ON THE VIDEOS
try:
    view_obj = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')[:30]
    for i in view_obj:
        views.append(i.text)
except NoSuchElementException :
    views.append('-')
    
#DATE OF THE VIDEO ELEMENT
try:
    date_obj = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')[:30]
    for i in date_obj:
        upload_dates.append(i.text)
except NoSuchElementException :
    upload_dates.append('-')

In [11]:
#Creating a diction of all the columns
dict = {'Rank':rank, 'video_Name':video_names,'Artist':video_uploader_name,'Views in Billions':views,'Upload_Date':upload_dates}

In [12]:
#CREATING TABLE / DATA FRAME OF THE DICTIONARY
table = pd.DataFrame(dict)

In [13]:
table.head()

,Rank,video_Name,Artist,Views in Billions,Upload_Date
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,11.40,"June 17, 2016"
1,2.,Despacito,Luis Fonsi,7.98,"January 12, 2017"
2,3.,Johny Johny Yes Papa,LooLoo Kids,6.47,"October 8, 2016"
3,4.,Shape of You,Ed Sheeran,5.81,"January 30, 2017"
4,5.,See You Again,Wiz Khalifa,5.64,"April 6, 2015"

# Q3 Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/

You need to find following details:
A) Name B) Description Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [2]:
driver = webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver.exe")

In [6]:
url = "https://www.guru99.com/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [18]:
# creating empty list
Name = []
Description = []

In [19]:
# clicking on Selenium button
driver.find_element(By.XPATH,"//li//a[@title='Selenium']").click()

# clicking on Exception Handling button
driver.find_element(By.XPATH,'//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

# scraping Name
for i in driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[1]"):
    Name.append(i.text)
    
# scraping Description
for i in driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[2]"):
    Description.append(i.text)

    
# creating the dataframe from the scraped data
Selenium = pd.DataFrame({})
Selenium['Exception_Name'] = Name
Selenium['Description'] = Description
Selenium

Empty DataFrame
Columns: [Exception_Name, Description]
Index: []

# 4. Scrape the details of State-wise GDP of India from statisticstime.com. 

Url = http://statisticstimes.com/ 

You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [20]:
#getting the specified url
url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(3)

In [21]:
#Clicking on economy section
economy = driver.find_element(By.XPATH, "//div[@class='navbar']//div[2]//button").click()

urls = driver.find_element(By.XPATH, "//div[@class='dropdown-content']//a[3]")
ineco_page = urls.get_attribute("href")
#Going to indian economy page
driver.get(ineco_page)  
time.sleep(5)

In [22]:
#Creating empty list
Rank = []
State = []
GSDP_1 = []
GSDP_2 = []
Share = []
GDP = []

In [23]:
#get the url of page containing GDP of indian states
sta_GDP = driver.find_element(By.XPATH, "//ul[@style='list-style-type:none;margin-left:20px;']/li/a")
GDP_url = sta_GDP.get_attribute("href")

driver.get(GDP_url)
time.sleep(6)


#Scraping data of rank
for i in driver.find_elements(By.XPATH, "//div[@id='table_id_wrapper']//tbody//tr//td[1]"):
    Rank.append(i.text)

    
#Scraping data of state name
for i in driver.find_elements(By.XPATH, "//div[@id='table_id_wrapper']//tbody//tr//td[2]"):
    State.append(i.text)

    
# Scraping data of GSDP at current price (19-20)
for i in driver.find_elements(By.XPATH, "//div[@id='table_id_wrapper']//tbody//tr//td[3]"):
    GSDP_1.append(i.text)

    
#Scraping data of GSDP at current price (18-19)
for i in driver.find_elements(By.XPATH, "//div[@id='table_id_wrapper']//tbody//tr//td[4]"):
    GSDP_2.append(i.text)

    
#Scraping data of Share(18-19)
for i in driver.find_elements(By.XPATH, "//div[@id='table_id_wrapper']//tbody//tr//td[5]"):
    Share.append(i.text)

    
#Scraping data of GDP($ billion)
for i in driver.find_elements(By.XPATH, "//div[@id='table_id_wrapper']//tbody//tr//td[6]"):
    GDP.append(i.text)

In [24]:
#DATA FRAMEING
StatisticsTime = pd.DataFrame({})
StatisticsTime['Rank'] = Rank
StatisticsTime['State'] = State
StatisticsTime['GSDP at current price (19-20)'] = GSDP_1
StatisticsTime['GSDP at current price (18-19)'] = GSDP_2
StatisticsTime['Share(18-19)'] = Share
StatisticsTime['GDP($ billion)'] = GDP

In [26]:
#Printing the data frame
StatisticsTime.head()

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806

# 5. Scrape the details of trending repositories on Github.com. 

Url = https://github.com/ 

You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [3]:
# Let's define the url
driver.get("https://github.com/ ") # website from which we will scrape data

# Selecting Trending option from from explore
trending = driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a").get_attribute("href") 
driver.get(trending)

In [5]:
#Creating empty list
repo_urls1 = []
rep_title1 = []
Description1 = []
Contributors1 = []
Language1 = []
lang1 = []

#Fetching urls for each repository
repository = driver.find_elements(By.XPATH, "//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    repo_urls1.append(i.get_attribute("href"))

    
#Scraping data of repository title
title = driver.find_elements(By.XPATH, "//article[@class='Box-row']/h1/a")
for i in title:
    rep_title1.append(i.text)

    
#Scraping data from every repository page
for i in repo_urls1:
    driver.get(i)
    time.sleep(3)
        
    #Scraping data of decription
    try:
        desc = driver.find_element(By.XPATH, "//div[@class='BorderGrid-cell']/p")
        Description1.append(desc.text)
    except NoSuchElementException:
        Description1.append('-')
    
        
    #Scraping data of contributors
    try:
        cont_tags = driver.find_element(By.XPATH, "//*[contains(text(),'    Contributors ')]")
        Contributors1.append(cont_tags.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors1.append('-')
        
        
    #fetching Languages used
    try:
        for i in driver.find_elements(By.XPATH, "/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[6]/div/ul"):
            lang1.append(i.text)
        Language1.append(lang1)
    except NoSuchElementException:
        Language1.append('-')

In [6]:
#DATA FRAMING
Github = pd.DataFrame({})
Github['Repository title'] = rep_title1
Github['Repository description'] = Description1
Github['Contributors count'] = Contributors1
Github['Language used'] = Language1

In [8]:
Github.head()

,Repository title,Repository description,Contributors count,Language used
0,facebookincubator / AITemplate,AITemplate is a Python framework which renders...,6,"[, Makefile\n100.0%, C++\n64.7%\nPython\n14.4%..."
1,psf / black,The uncompromising Python code formatter,341,"[, Makefile\n100.0%, C++\n64.7%\nPython\n14.4%..."
2,snaplet / postgres-wasm,A PostgresQL server running in your browser,8,"[, Makefile\n100.0%, C++\n64.7%\nPython\n14.4%..."
3,Cryptogenic / PS5-4.03-Kernel-Exploit,An experimental webkit-based kernel exploit (A...,2,"[, Makefile\n100.0%, C++\n64.7%\nPython\n14.4%..."
4,folke / noice.nvim,ðŸ’¥ Highly experimental plugin that completely r...,2,"[, Makefile\n100.0%, C++\n64.7%\nPython\n14.4%..."

# Q 8 : Scrape the details of Highest selling novels.

  Url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
  
  You have to find the following details:
  A) Book name
  B) Author name
  C) Volumes sold
  D) Publisher
  E) Genre

In [52]:
#getting the specified url
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(3)

In [53]:
#Creating empty list
Book_name = []
Author = []
Volumes_sold = []
Publisher = []
Genre = []

In [54]:
#scraping data of book names
for i in driver.find_elements(By.XPATH, "//tbody//tr/td[2]"):
    Book_name.append(i.text)

    
#Scraping data of author names
for i in driver.find_elements(By.XPATH, "//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author.append(i.text)
    except NoSuchElementException:
        Author.append('-')
time.sleep(1)


#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH, "//tbody/tr/td[4]"):
    Volumes_sold.append(i.text)

    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH, "//tbody/tr/td[5]"):
    Publisher.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements(By.XPATH, "//tbody/tr/td[6]"):
    Genre.append(i.text)

In [55]:
#DATA FRAMING
Novel = pd.DataFrame({})
Novel['Book Name'] = Book_name
Novel['Author'] = Author
Novel['Volume sold'] = Volumes_sold
Novel['Publisher'] = Publisher
Novel['Genre'] = Genre

In [56]:
#Printing data frame
Novel

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com. 

Url = https://www.imdb.com/list/ls095964455/ 

You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [57]:
#getting the specified url
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(3)

In [58]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [59]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH, "//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH, "//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements(By.XPATH, "//span[@class='genre']"):
    Genre.append(i.text)

    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH, "//span[@class='runtime']"):
    Run_time.append(i.text)

    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH, "//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)

    
#Scraping data of votes
for i in driver.find_elements(By.XPATH, "//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [60]:
#DATA FRAMING
IMDB = pd.DataFrame({})
IMDB['Name'] = Name
IMDB['Year Span'] = Year_span
IMDB['Genre'] = Genre
IMDB['Run Time'] = Run_time
IMDB['Ratings'] = Ratings
IMDB['Votes'] = Votes

In [61]:
#Printing data frame
IMDB

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011â€“2019),"Action, Adventure, Drama",57 min,9.2,"2,061,713"
1,Stranger Things,(2016â€“ ),"Drama, Fantasy, Horror",51 min,8.7,"1,155,207"
2,The Walking Dead,(2010â€“2022),"Drama, Horror, Thriller",44 min,8.1,"972,473"
3,13 Reasons Why,(2017â€“2020),"Drama, Mystery, Thriller",60 min,7.5,"289,927"
4,The 100,(2014â€“ ),"Drama, Mystery, Sci-Fi",43 min,7.6,"249,346"
...,...,...,...,...,...,...
95,Reign,(2013â€“2017),Drama,42 min,7.4,"49,693"
96,A Series of Unfortunate Events,(2017â€“2019),"Adventure, Comedy, Drama",50 min,7.8,"60,749"
97,Criminal Minds,(2005â€“2020),"Crime, Drama, Mystery",42 min,8.1,"195,541"
98,Scream: The TV Series,(2015â€“2019),"Comedy, Crime, Drama",45 min,7.1,"41,155"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"238,188"

# 10. Details of Datasets from UCI machine learning repositories. 

Url = https://archive.ics.uci.edu/ 

You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [62]:
#getting the specified url
url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(3)

In [63]:
#Finding view all dataset button
view_dataset = driver.find_element(By.XPATH, "//tbody[1]//tr/td[2]/span[2]/a")    
page_url = view_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(5)

#Getting page urls containing list of all datasets
all_lst = driver.find_element(By.XPATH, "/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
lst_url = all_lst.get_attribute("href")           
driver.get(lst_url)
time.sleep(5)

#fetching url for each dataset
data_url = driver.find_elements(By.XPATH, "//p[@class='normal']//b/a")    

urls = []     
for i in data_url:
    urls.append(i.get_attribute("href"))

In [64]:
#Creating empty list
Data_name = []
Data_type = []
Task = []
Attr_type = []
Instances = []
n_attributes = []
Year = []

In [65]:
#Scraping requiredinfo from urls
for i in urls:
    driver.get(i)
    time.sleep(3)
    
    
    #Scraping Dataset name
    try: 
        ds_name = driver.find_element(By.XPATH, "//span[@class='heading']")
        Data_name.append(ds_name.text)
    except NoSuchElementException:
        Data_name.append('-')
    time.sleep(1)
    
    
    #Scraping data type
    try:
        dtype = driver.find_element(By.XPATH, "//table[@border='1']//tbody/tr/td[2]")
        if dtype.text == "N/A": raise NoSuchElementException
        Data_type.append(dtype.text)
    except NoSuchElementException:
        Data_type.append('-')
    time.sleep(1)
    
    
    #Scraping Attribute type
    try:
        atype = driver.find_element(By.XPATH, "//table[@border='1']//tbody/tr[2]/td[2]")
        if atype.text == "N/A": raise NoSuchElementException
        Attr_type.append(atype.text)
    except NoSuchElementException:
        Attr_type.append('-')
    time.sleep(1)
    
    
    #scraping Task
    try:
        task = driver.find_element(By.XPATH, "//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(1)
    
    
    #Scraping No of instances
    try:
        inst = driver.find_element(By.XPATH, "//table[@border='1']//tbody/tr/td[4]")
        if inst.text == "N/A": raise NoSuchElementException
        Instances.append(inst.text)
    except NoSuchElementException:
        Instances.append('-')
    time.sleep(1)
    
    
    #Scraping  No of attribute
    try:
        attr = driver.find_element(By.XPATH, "//table[@border='1']//tbody/tr[2]/td[4]")
        if attr.text == "N/A": raise NoSuchElementException
        n_attributes.append(attr.text)
    except NoSuchElementException:
        n_attributes.append('-')
    time.sleep(1)
    
    
    #scraping year
    try:
        year = driver.find_element(By.XPATH, "//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(1)

In [66]:
#DATA FRAMING
UCI = pd.DataFrame({})
UCI['Data Name'] = Data_name
UCI['Data Type'] = Data_type
UCI['Task'] = Task
UCI['Attribute type'] = Attr_type
UCI['No of instance'] = Instances
UCI['No of attributes'] = n_attributes
UCI['Year'] = Year

In [67]:
#Printing dataframe
UCI

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
617,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
618,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
619,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
620,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
621,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990